@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

:root {
  --primary: #221e22;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Syne", sans-serif;
}
